
# python 3.7.0
#
# conda create  --yes --name afip python=3.7.0
# conda install --yes --name afip --file requirements.txt
# 


anfler-utils>=0.1.0
anfler-kafka>=0.1.0
anfler-db>=0.1.0
fastapi==0.63.0
uvicorn[standard]==0.13.4